:root {
  --background: #17181f;
  --background-block: #171212;
  --white: #ffffff;
  --black: #000000;
  --success: #6fff79;
  --warning: #fff52d;
  --error: #eb0400;
  --button-dark: #738ee554;
  --button-dark-hover: #3256cb54;
  --button-dark-active: #002ec454;
  --button-light: #8da2e5;
  --button-light-hover: #4465d2;
  --button-light-active: #2d58e4;
  --input-border: #85a0d4;
  --input-background: #1c1e25;
  --modal-background: rgba(34, 35, 42, 0.5);
  --input-hover-border: #ffffff;
  --input-active: #ffffff;
  --background-line: #b5a3a3;
  --sidebar: #ffffff;
  --sidebar-hover: #738ee5;
  --sidebar-active: #4a70e9ad;
  --background-tabs: rgba(255, 255, 255, 0.06);
  --background-card: rgba(255, 255, 255, 0.08);
  --background-tab: rgba(255, 255, 255, 0.1);
  --background-scrollbar: #0505116e;
  --background-header-menu: #121026c9;
  --hover-header-menu: #dadadaff;
  --video-card-desc: #aaa;
  --video-card-name: #777;
  --color-link: #a1a1b5;
  --color-sidebar: #d0d0ff;
  --gradient-selected: linear-gradient(135deg, #6d5dfb 0%, #8e7bff 100%);
  --gradient-selected-hover: linear-gradient(90deg, #786aff 0%, #a88bff 100%);
  --boxShadowButton: 0 4px 12px rgba(109, 93, 251, 0.35);
  --gradient-sidebar: linear-gradient(135deg, #6d5dfb05 0%, #3d2f8c 100%);
  --gradient-sidebar-open: linear-gradient(135deg, #181138 0%, #3d2f8c 100%);
  --gradient-active-link: linear-gradient(90deg, rgba(109, 93, 251, 0.15) 0%, rgba(142, 123, 255, 0.05) 100%);
  --live-btn: #ff3b3b;
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter/Inter_18pt-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter/Inter_18pt-Black.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter/Inter_18pt-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter/Inter_18pt-Bold.ttf');
  font-weight: bold;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter';
}

* *:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  background: linear-gradient(315deg, rgb(12, 12, 24) 17%, rgb(25, 21, 56) 60%, rgb(16, 14, 35));
  color: var(--white);
  font-family: 'Inter', sans-serif;
}

body {
  min-height: 100vh;
}

#root {
  min-height: 100vh;
  overscroll-behavior-y: none;
  background: linear-gradient(315deg, rgb(12, 12, 24) 17%, rgb(25, 21, 56) 60%, rgb(16, 14, 35));
  background: -webkit-linear-gradient(315deg, rgb(12, 12, 24) 17%, rgb(25, 21, 56) 60%, rgb(16, 14, 35));
  background: -moz-linear-gradient(315deg, rgb(12, 12, 24) 17%, rgb(25, 21, 56) 60%, rgb(16, 14, 35));
  background-size: auto;
  color: var(--white);
  font-family: 'Inter', sans-serif;
}

ul,
li,
ol {
  list-style: none;
}

a {
  color: var(--white);
  text-decoration: none;
  transition: all 0.3s ease;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}

.hideCursor {
  cursor: none;
}
